#notes
  %table
    %thead
      %th.cb
        %input{:type => "checkbox"}
      %th Title
      %th Last Modified

    %tbody
      - @notes.each do |note|
        %tr
          %td.cb
            %input{:type => "checkbox"}
          %td= link_to note.title, url(:notes, :show, :id => note.id)
          %td= time_ago_in_words(note.updated_at)
