#note
  - form_tag url(:notes, :update), :method => "patch" do
    = hidden_field_tag :'note[id]', :value => @note.id

    %header
      = text_field_tag :'note[title]', :value => @note.title

    %section
      = find_and_preserve text_area_tag :'note[body]', :value => @note.text
      = text_field_tag :'note[tags]'

    %footer
      %button{:type => "submit"} Save
