#index
  .hero
    .inner
      %h2 Take notes with confidence.
      %p Drafts makes it easy for you to quickly write your notes, organize them, search through them, and back them up. Never worry about your notes again!
      %nav
        %ul
          %li= link_to "Join", url(:users, :new), :class => "btn blue"
          %li= link_to "Login", url(:sessions, :new), :class => "btn"
  .features
    %article
      %header
        %i.ss-icon.ss-social-regular dropbox
        %h4 Dropbox
      %section
        %p Back up your notes with Dropbox. Have your notes with you, always.
    %article
      %header
        %i.ss-icon compose
        %h4 Markdown
      %section
        %p Use the expressive Markdown formatting language to write your notes.
    %article
      %header
        %i.ss-icon tag
        %h4 Tags
      %section
        %p Use tags to organize your notes.
