#index
  .hero
    .inner
      %h2 Take notes with confidence.
      %p Drafts is a notetaking tool for the classroom. Use Markdown to format your notes, tag your notes for easy organization, and search the full text to find exactly what you're looking for. Perfect for college, high school, or anywhere!
      %ul
        %li= link_to "Login", url(:sessions, :new), :class => "btn"
        %li= link_to "Join", url(:users, :new), :class => "btn primary"
  .features
    .inner
      %p Not sure what will go here.
