#page
  %header
    %h2 UI Tests
  %section
    %p
      %a.btn{:href => ""} Button
      %a.btn.blue{:href => ""} Button
      %a.btn.red{:href => ""} Button
      %a.btn.green{:href => ""} Button
      %a.btn{:href => ""}
        %i.ss-icon user
        Button
      %a.btn.social.blue{:href => ""}
        %i.ss-icon.ss-social-regular dropbox
        %span Connect with Dropbox
