/*
	Drafts
		file: application.scss
*/


@import "lib/base";


/*
	= Appendix
		I. Universal
*/


/*
	I. Universal
*/

body {
	color: $text;
	font: 100 16px/1.75em $sans-serif;
}

a {
	color: $blue-green;
	text-decoration: none;

	&:hover {
		color: $dark-blue-green;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 1.25em;
	text-shadow: 0 1px 0 rgba(darken($dark-blue, 10%), 0.2);

	a {
		span {
			color: lighten($dark-blue, 10%);
			font-size: 0.85em;
		}
	}
}

h2 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}

h3, h4, h5, h6 {
	text-transform: uppercase;
}

h3 {
	font-size: 1.25em;
}

table {
	font-size: 0.85em;
	width: 100%;

	a {
		color: $dark-blue;
		font-weight: normal;
	}

	thead {
		border-bottom: 1px solid $light-grey;

		th {
			color: $dark-grey;
			font-size: 0.85em;
			font-weight: 600;
			padding: 0.25em;
			text-transform: uppercase;
		}
	}

	tbody {
		tr {
			&:hover {
				background: $light-grey;
			}

			& + tr {
				border-top: 1px solid $light-grey;
			}
		}

		td {
			padding: 0.25em;
			font-weight: 100 !important;
		}
	}
}


/*
	II. Header
*/

#contain > header {
	.inner {
		@include container;

		padding: 1em 0;

		hgroup {
			@include span-columns(4, 12);
		}

		nav {
			@include span-columns(8 omega, 12);
		}
	}

	background: $dark-blue;

	a {
		color: $light-grey;

		&:hover {
			color: $grey;
		}
	}

	ul {
		font-size: 0.85em;
		float: right;

		li {
			display: inline-block;

			& + li {
				padding-left: 2em;
			}
		}
	}
}


/*
	III. Main
*/

#main {
	// margin: 4em 0 2em;

	#index {
		.inner {
			@include container;
		}

		.hero {
			background: $light-grey;
			padding: 4em 0;

			p {
				margin-bottom: 1em;
			}

			li {
				display: inline;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
		}

		.features {
			margin-top: 4em;
		}
	}

	#login {
		@include container;
	}

	#notes {
		header, section {
			@include container;
		}

		header {
			margin-top: 2em;

			hgroup {
				@include span-columns(6, 12);
			}

			nav {
				@include span-columns(6 omega, 12);

				a {
					float: right;
				}
			}
		}
	}

	& > section {
		margin: 4em 0 2em;
	}
}


/*
	IV. Footer
*/

#contain > footer {
	border-top: 1px solid $light-grey;
	color: $grey;
	margin-top: 4em;
	padding-top: 2em;

	.inner {
		@include container;
	}
}
